body {
  background-color: rgb(255, 250, 250);
}

article {
  height: 210px;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px darkgray;
  padding: 5px 20px 20px;
  margin: 15px;
}